# http://editorconfig.org

root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

[Makefile]
indent_style = tab

[*.md]
trim_trailing_whitespace = false
indent_style = space
indent_size = 4

[*.{js,ts,jsx,tsx,mjs,mts,cjs,cts}]
indent_style = space
indent_size = 4

[*.{css,pcss}]
indent_style = space
indent_size = 2

[*.{vue,svelte,astro}]
indent_style = space
indent_size = 2

[*.{yml,yaml,toml}]
indent_style = space
indent_size = 2

[*.{json,jsonc}]
indent_style = space
indent_size = 2

[*.{html,mdx}]
indent_style = space
indent_size = 2

[*.py]
indent_style = space
indent_size = 4

[*.sh]
indent_style = space
indent_size = 4

[*.{patch,diff}]
trim_trailing_whitespace = false
insert_final_newline = false
indent_style = ignore
indent_size = ignore

[*.{bat,cmd}]
indent_style = space
indent_size = 4
end_of_line = crlf

[node_modules/**]
trim_trailing_whitespace = ignore
insert_final_newline = ignore
indent_style = ignore
indent_size = ignore
